<!DOCTYPE HTML>
<html>
</head>
    <title>File Not Found</title>
    <meta http-Equiv="Content-Type" content="text/html; charset:UTF-8" />
    <link rel="stylesheet" href="%(script)s/files/style.css" type="text/css" />
</head>
<body>
    <div id="center" class="center-center">
    <div id="error1" class="center msg" style="%(FileNotFound)s">
    <h1>Error 404: File Not Found</h1>
    </div>
    <div id="error2" class="center msg" style="%(FileNotFoundFile)s">
    <h1>Error 404: File Not Found</h1>
    <p>This Error Happened when you visited %(File)s, this page Maybe:</p>
    <ul>
    <li>Deleted</li>
    <li>Moved</li>
    <li>Wasn't Created</li>
    </ul>
    </div>
    </div>
</body>
</html>
