<!DOCTYPE HTML>
<html>
<head>
<title>Install MediLab Organizer</title>
<meta name="description" content="install MediLab Organizer on your Computer and Database." />
<meta name="keywords" content="install, medilab, lab, labs, medical, medicine" />
<meta http-equiv="Content-Type" content="text/html; charset: UTF-8;" />
<link rel="stylesheet" href="%(script)s/files/style.css" type="text/css" />
<script src="%(script)s/files/jquery-1.4.3.min.js" type="text/javascript"></script>
<script type="text/javascript">
function validate_password(form) 
{
    if(form.password.value != "" && form.password.value == form.password2.value) 
    { 
        if(form.password.value.length < 6) 
        { 
        alert("Error: your password is less than 6 characters!");
        form.password.focus(); return false; 
        } 
        if(form.password.value == form.username.value) 
        {
        alert("Error: password must not be like username!"); 
        form.password.focus(); return false; 
        } 
        re = /[0-9]/; 
        if(!re.test(form.password.value)) 
        { 
        alert("Error: Password must includ at least one number!"); 
        form.password.focus(); return false; 
        } 
        re = /[a-z]/; 
        if(!re.test(form.password.value)) 
        { 
        alert("Error: Password must include at least one lowercase letter (a-z)!"); 
        form.password.focus(); return false; 
        } 
        re = /[A-Z]/; 
        if(!re.test(form.password.value)) 
        { 
        alert("Error: Password must include at least one capital letter (A-Z)!"); 
        form.password.focus(); return false; 
        } 
        else
        {
        return true;
        }
    } 
    else if (form.password.value!=form.password2.value)
    { 
    alert("Error: the 2 passwords aren't identical."); 
    form.password.focus(); return false; 
    } 
    else 
    {
    alert("Error: you must fill the password and password agine fields!")
    form.password.focus(); return false;
    } 
} 
</script>
</head>
<body>
<h1 class="center">MediLab - Installation</h1>
<div id="registerSuccess" class="msg center" style="%(registerSuccess)s"><p>You've already installed MediLab Successfully, Go to the homepage and login to the program.</p></div>
<form id="registerForm" name="registerForm" action="%(script)s/install/" method="POST" class="center" style="%(registerForm)s" onSubmit="return validate_password(this);">
<table>
<tr>
<td>
<span>Username: </span>
</td>
<td>
<input type="text" name="username" id="username" />
</td>
</tr>
<tr>
<td>
<span>Password: </span>
</td>
<td>
<input type="password" name="password" id="password" />
</td>
</tr>
<tr>
<td>
<span>Password Agine: </span>
</td>
<td>
<input type="password" name="password2" id="password2" />
</td>
</tr>
<tr>
<td>
<span>Email: </span>
</td>
<td>
<input type="text" name="email" id="email" />
</td>
</tr>
<tr>
<td>
<span>Phone: </span>
</td>
<td>
<input type="text" name="phone" id="phone" />
</td>
</tr>
</table>
<input type="submit" id="submit" value="Install" />
</form>
</body>
</html>
