<!DOCTYPE HTML>
<html>
<head>
<title>MediLab Organizer</title>
<meta name="description" content="MediLab Organizer Session Creater." />
<meta name="keywords" content="session, login, logout, medilab, lab, labs, medical, medicine" />
<meta http-equiv="Content-Type" content="text/html; charset: UTF-8;" />
<link rel="stylesheet" href="%(script)s/files/session.css" type="text/css" />
<script src="%(script)s/files/jquery-1.4.3.min.js" type="text/javascript"></script>
</head>
<body>
<div id="login">
    <div id="title"><h1>MediLab</h1></div>
    <div id="loginUserError" class="msg" style="display:none;"><p>Invalid Username!</p></div>
    <div id="loginPassError" class="msg" style="display:none;"><p>Invalid Password!</p></div>
    <div id="logoutSuccess" class="msg" style="display:none;"><p>You have logged out Successfully</p></div>
    <div id="banError" class="msg" style="display:none;"><p>You're Banned Because: <span id="ban_reason"></span></p></div>
    <form id="loginFrom" name="loginForm" action="%(script)s/session/" method="POST">
        <input type="hidden" id="returnUrl" name="returnUrl" value="" />
        <label for="username">Username</label><br />
        <input type="text" id="username" name="username" /><br />
        <label for="password">Password</label><br />
        <input type="password" id="password" name="password" /><br />
        <input type="checkbox" id="cookie" name="cookie" /><label for="cookie">Keep me logged in.</label>
        <input type="submit" id="submit" name="submit" value="login" />
    </form>
</div>
<script type="text/javascript">
$(document).ready(function() {
    %(sessionScript)s
});
</script>
</body>
</html>
